<p id="notice"><%= notice %></p>

<p>
  <strong>Objetivos:</strong>
  <%= @cadastro_plano_de_voo.objetivos %>
</p>

<p>
  <strong>Frequencia voo:</strong>
  <%= @cadastro_plano_de_voo.frequencia_voo %>
</p>

<p>
  <strong>Duracao voo:</strong>
  <%= @cadastro_plano_de_voo.duracao_voo %>
</p>

<p>
  <strong>Numero estacoes:</strong>
  <%= @cadastro_plano_de_voo.numero_estacoes %>
</p>

<p>
  <strong>Localizacao estacoes:</strong>
  <%= @cadastro_plano_de_voo.localizacao_estacoes %>
</p>

<p>
  <strong>Transferencia:</strong>
  <%= @cadastro_plano_de_voo.transferencia %>
</p>

<p>
  <strong>Local decolagem:</strong>
  <%= @cadastro_plano_de_voo.local_decolagem %>
</p>

<p>
  <strong>Requisitos decolagem:</strong>
  <%= @cadastro_plano_de_voo.requisitos_decolagem %>
</p>

<p>
  <strong>Requisitos pouso:</strong>
  <%= @cadastro_plano_de_voo.requisitos_pouso %>
</p>

<p>
  <strong>Rota:</strong>
  <%= @cadastro_plano_de_voo.rota %>
</p>

<p>
  <strong>Carga util:</strong>
  <%= @cadastro_plano_de_voo.carga_util %>
</p>

<p>
  <strong>Altura maxima:</strong>
  <%= @cadastro_plano_de_voo.altura_maxima %>
</p>

<p>
  <strong>Local destino:</strong>
  <%= @cadastro_plano_de_voo.local_destino %>
</p>

<p>
  <strong>Data voo:</strong>
  <%= @cadastro_plano_de_voo.data_voo %>
</p>

<p>
  <strong>Codigo chamada:</strong>
  <%= @cadastro_plano_de_voo.codigo_chamada %>
</p>

<p>
  <strong>Regras voo:</strong>
  <%= @cadastro_plano_de_voo.regras_voo %>
</p>

<p>
  <strong>Tipo operacao:</strong>
  <%= @cadastro_plano_de_voo.tipo_operacao %>
</p>

<p>
  <strong>Id operador:</strong>
  <%= @cadastro_plano_de_voo.id_operador %>
</p>

<%= link_to 'Edit', edit_cadastro_plano_de_voo_path(@cadastro_plano_de_voo) %> |
<%= link_to 'Back', cadastro_plano_de_voos_path %>
